<div class="container">
  <div class="row">
    <div class="span12">
      <% unless @archived %>
 
    <%= link_to "Log your hours", new_user_hour_path, :class => "btn" %>
    <%= link_to "Your Archived Hours", archives_path, :class => "btn" %>
  
<% end %>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12 data-block">
      <header>
       <% if @user_hours.empty? %>
        <h2><span class="icon-th">&nbsp;You don't seem to have any hours logged for this month?</span></h2>
       <% else %>
        <h2><span class="icon-th">&nbsp;Your <% if @archived %>Archived <% end %>User hours for <%= @user_hours.first.date_occurred.strftime('%b, %Y') %></span></h2>
      </header>
  
       <%= render 'shared/userhours' %>
<% end %>
  </div><!--/span12-->
 </div><!--/row-->
</div><!--/container-->