<div class="container">
  <div class="row">
    <div class="span4 mb20">
      <% unless @archived %>
       <%= link_to "Log your hours", new_user_hour_path, :class => "btn btn-success" %>
       <%= link_to "Your Archived Hours", archives_path, :class => "btn btn-success" %>
      <% end %>
    </div>


  </div>
 </div>

<div class="container">
  <div class="row">
    <div class="span12 data-block">
      <% if @user_hours.empty? %>
        <header>
          <h2><span class="icon-th">&nbsp;Your Hours</span></h2>
        </header>
         <section class="tab-content">
           <p class="notice">You don't seem to have any hours logged for this month?</p>
         </section>
      <% else %>
       <header>
        <h2><span class="icon-th">&nbsp;Your <% if @archived %>Archived <% end %>User hours for <%= @user_hours.first.date_occurred.strftime('%b, %Y') %></span></h2>
      </header>
      
       <%= render 'shared/userhours' %>
    
<% end %>
  </div><!--/span12-->
 </div><!--/row-->
</div><!--/container-->


  