<div class="container">
 <div class="row">
  <div class="span12">	
   <footer class="register">
   Don't have an account yet? <%= link_to 'Register', new_user_registration_path, :class => "btn btn-black" if !current_user %>
   </footer>
  </div>
 </div>
</div>