<footer id="footer">
 <div class="container">
  <p>Built by <a href="http://twitter.github.com/bootstrap/">Fishplatestudios</a></p>
  <ul>
	<li><%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></li>
	<li><a href="#" class="">Documentation</a></li>
	<li><a href="#" class="">API</a></li>
  </ul>
	<!-- Footer back to top -->
	 <a href="#top" class="btn btn-alt"><span class="icon-arrow-up"></span></a>
  </div>
</footer>