<div class="container">
 <div class="row">
  <div class="span12">
  	<article class="hero-unit greyBox">
  		<h1>Welcome to HourLogger</h1>

  		<p><%= salutation %> <%= full_name %>, Hourlogger enables you to record and track your hours worked. You enter the site and location you worked at, how many hours where worked and once submitted your mentor will have them in a queue ready to approve.</p>

  		<p>You can log in anytime and check the status of your logged hours and see which ones are pending approval and which ones have been approved. </p>


    </article>

  </div>
 </div>
</div>