<h1> Your Archived Hours </h1>
<% @dates.each_pair do |k,v| %>
<div class="well">
  <h2><%= k %></h2>
  <% v.sort.map do |m| %>
    <%= link_to m.strftime("%b"), "#", :class => "btn" %>
  <% end %>
<% end %>