@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Lato:100,300,400);


/* Misc */

.redSquare, .greenSquare {
  width:20px;
  height:20px;
  background:#DA4F49;
  display:inline-block;
}

.greenSquare {
  background:#1e8449;
}

.key {
  margin-left: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

/* Login Form */

html {
  height: 100%;
}

.blue {
  color: #447fc8;
}

.btn-black {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 20px;
  background-color: #222222;
  background-image: none;
  color: white;
  text-shadow: none;
}

.btn-black:hover {
  background: #333333;
  color: white;
}

/* ########### */
/* $NAVIGATION */
/* ########### */

.navbar .brand {
  margin-top: 20px;
  padding-bottom: 8px;
  max-height: 40px;
  width: auto;
}

.navbar .navbar-inner {
  height: 80px;
  background: white;
  filter: none;
}

.navbar .nav {
  margin-top: 20px;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  color: #333;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #111;
}

.navbar .nav > li.active > a {
  background: none;
  color: #111;
}

.navbar .nav > li.active > a:hover {
  background: none;
  color: #111;
}

/* ####### */
/* $LOGIN  */
/* ####### */
#login-wrapper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  padding: 25px;
  background: white;
  text-align: center;
}


.login-form legend {
  margin-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.login-form .inner-login-wrapper {
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.login-form .footer {
  margin-top: 20px;
}

.login-form .footer .checkbox.inline {
  display: inline;
}

.login-form .footer .checkbox.inline input[type="checkbox"] {
  float: none;
  margin-top: -4px;
}

.login-form .footer .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
  background-image: none;
}

/* ####### */
/* $FOOTER */
/* ####### */
footer.white {
  padding-top: 20px;
  height: 50px;
  background: white;
  text-align: center;
}

/* navigation */
.navbar {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.login-form legend {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}

.login-form label, .login-form a{
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 20px;
  color: #333333;
  font-weight: 300;
}

.login-form a {
  color:#447fc8;
}

/* Admin Area */

/* Data block header */

.data-block {
  position: relative;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

p.notice{
  margin: 10px 10px 15px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.data-block header {
  padding: 15px 20px;
  background: #7f8c8d;
  *zoom: 1;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}
.data-block header:before,
.data-block header:after {
  display: table;
  content: "";
  line-height: 0;
}
.data-block header:after {
  clear: both;
}
.data-block header h2 {
  margin: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 17.5px;
  line-height: 28px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.data-block section {
  padding: 20px;
}

 .selectBox .control-label {
  float: left;
  width: 60px;
  padding-top: 5px;
}


.edit_user .control-label, .changePassword .control-label, .logHours .control-label {
  float: left;
  width: 120px;
  padding-top: 5px;
}

.edit_user .control-label.radio {
	width:60px;
}

.edit_user .controls, .logHours .controls{
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 115px;
  *margin-left: 0;
}

#user_gender_female {
	float:left;
}

.greyBox {
  background:#7f8c8d;
}

.hero-unit.greyBox h1 {
  font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:white;
}

.hero-unit.greyBox p {
  color:white;
  margin-top:10px;
}


/* TABLES */

.table {
  background-color: #f2f3f4;
  border: 2px solid #ffffff;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table th {
  text-align: center;
  background-color: #bdc3c7;
}
.table th,
.table td {
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.table caption + thead tr:first-child th,
.table caption + tbody tr:first-child th,
.table caption + tbody tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + tbody tr:first-child th,
.table colgroup + tbody tr:first-child td,
.table thead:first-child tr:first-child th,
.table tbody:first-child tr:first-child th,
.table tbody:first-child tr:first-child td {
  border-top: 0;
}
.table thead:first-child tr:first-child th:first-child,
.table tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.table thead:first-child tr:first-child th:last-child,
.table tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.table thead:last-child tr:last-child th:first-child,
.table tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table thead:last-child tr:last-child th:last-child,
.table tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

.table tr.threeCol th{
  width:33%;
}

tfoot td, tfoot tr{
  background:#fff;
}

.bold {
  font-weight: bold;
}

.mb20 {
	margin-bottom:20px;
}

/* footer */

#push{
  margin-bottom:60px;
}

/* Portrait tablet*/
@media (max-width: 980px) {
  
  .navbar {
    height: auto;
    margin-bottom: 0;
  }
 
  .navbar .brand {
    margin-top: 0;
  }

  .navbar .navbar-inner {
    height: auto;
  }

  .navbar .nav > li > a:hover {
    color: white;
  }

  #login-wrapper {
    position: relative;
    top: 0;
    margin-top: 25px;
  }
}
@media (max-width: 495px) {  
  #login-wrapper {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    left: 0;
  }
}


/* Footer */

.grey {
  background:#7F8C8D;
  padding:10px 10px 0px;
}

.grey p {
  margin: 15px 10px 0 0;
  float: left;
}
.grey a {
  color: #f2f3f4;
  -webkit-transition: color 350ms ease;
  -moz-transition: color 350ms ease;
  -o-transition: color 350ms ease;
  transition: color 350ms ease;
}
.grey a:hover {
  color: #ffffff;
}
.grey ul {
  margin: 15px 0;
  padding: 0;
  list-style: none;
  float: left;
  *zoom: 1;
}
.grey ul:before,
.grey ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.grey ul:after {
  clear: both;
}
.grey ul li {
  float: left;
  display: block;
}
.grey ul li + li {
  margin-left: 10px;
}
.grey .btn.btn-alt {
  float: right;
  color: #bdc3c7;
  margin-top: 14px;
  padding: 1px 8px;
  font-size: 11.9px;
  background: #7f8c8d;
}
.grey .btn.btn-alt:hover {
  background: #f2f3f4;
  color: #bdc3c7;
}

.white, .grey {
  height: 60px;
}



/* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

    